<span class="my-10 text-center text-4xl title"
  >Üdvözöllek a bensőséges és őszinte<br />kapcsolódások világában!
</span>
<main class="flex flex-col mb-20 items-center">
  <span class="leading-7 text-justify">
    <img src="../../../assets/lucien-color.jpg" class="w-52 rounded-lg mt-2" />
    1991 óta járom az utam a tudatosság világában, ami azzal jár, hogy mára elég
    jól átlátom ezen a területen fellelhető lehetőségek tárát. Ennek ellenére
    azt kell, hogy mondjam, a Circling / Authentic Relating nagy erejű
    találkozásoknak bizonyultak.
    <br /><br />
    Teljesen más, mint minden más. Nekem szerelem lett. 😊
    <br /><br />
    Nemcsak a módszer, hanem az a nemzetközi törzs, amelynek ezáltal részesé
    váltam.
    <br /><br />
    Azt a “szintet” segít elsajátítani, ahogyan én minden kapcsolódásomban lenni
    szeretnék, és ahogyan az én <a (click)="goToVisionPage()"
      >elképzelésem</a> szerint, egy ideális világban
    mindenki mindenkivel kapcsolódna.
    <br /><br />
    A szándékom a Circling és testvérmódszereinek elterjesztése, ezen belül
    lehetőséget nyújtani Neked, hogy ráérezhess, mit adhat hozzá az
    <a (click)="goToBenefitsPage()"
      >önismeretedhez</a
    > és hogyan emelheti a <a (click)="goToBenefitsPage()"
      >kapcsolataidat!</a
    >
  </span>
  <span class="mt-5"> Nagy-nagy szeretettel, </span>
  <span class="text-sm mt-2 text-center">
    Ruppert Endre Lucien<br />aka Lucien del Mar
  </span>
</main>
