<span class="text-3xl mb-10 text-center title leading-relaxed font-medium"
  >Üdvözöllek a bensőséges, mély és őszinte<br>kapcsolódások világában!
</span>
<main class="flex flex-col items-center mb-20">
  <span class="leading-7 text-justify">
    1991 óta járom az utam a tudatosság világában, ami azzal jár, hogy nagyjából
    átlátom a fellelhető eszközök tárát. Ennek ellenére azt kell, hogy mondjam,
    a Circling / Authentic Relating nagy erejű találkozásoknak bizonyultak.
    <br /><br />
    Teljesen más, mint minden más. Nekem szerelem lett.
    <br /><br />
    Nemcsak a módszer, hanem az a nemzetközi törzs, amelynek ezáltal részese
    lehetek.
    <br /><br />
    Azt a “szintet” segít elsajátítani, ahogyan én minden kapcsolódásomban lenni
    szeretnék, és ahogyan egy ideális világban mindenki mindenkivel kapcsolódna.
    <br /><br />
    A szándékom ezen módszerek elterjesztése, és lehetőséget nyújtani Neked,
    hogy ráérezhess, Te hogyan profitálhatsz belőlük a saját életedben!
  </span>
  <img
    src="../../../assets/lucien-color.jpg"
    class="w-40 float-right rounded-full"
  />
  <span class="text-center mt-5"
    >Ruppert Endre Lucien<br />aka Lucien del Mar</span
  >
</main>
