:host {
  min-height: 100vh;
  height: auto;
  display: block;
}

.menu-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100%;
}

mat-nav-list {
  @apply flex flex-col w-40;
}

mat-nav-list * {
  @apply mb-4 text-start ml-5;
}

mat-toolbar {
  height: 60px;
}

.brand {
  @apply text-lg;
}


