<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/" class="cursor-pointer">Circling</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <button mat-button routerLink="about">Rólam</button>
        <button mat-button routerLink="method">Módszer</button>
        <button mat-button routerLink="events">Események</button>
        <button mat-button routerLink="videos">Videók</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <button routerLink="about">Rólam</button>
        <button routerLink="method">Módszer</button>
        <button routerLink="oneonone">Egyéneknek</button>
        <button routerLink="couple">Pároknak</button>
        <button routerLink="events">Események</button>
        <button routerLink="videos">Videók</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
